body{
    min-height: 100;
    background-color: rgb(213, 222, 230);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    background-color: white;
    width:350px;
    height: 100%;
    text-align: center;
    box-shadow: 16px 17px 19px rgba (0,0,0,0.1);
    border-radius: 1rem;
    margin:50px auto;

}
.card-container{
    margin: 10% auto;
}
.card-container img{
    width: 300px;
    border-radius: 1rem;
}
.card-container h2 {
    color: var (--dark-blue);
    font: weight 700px;
    margin:5%auto;}
.card-container p{
    color: var (--Gray-blue);
    font-weight:400;
    margin: 1rem 0;

}
